body {
	font-family: 'Quicksand', sans-serif;
	margin-left: 30%;
	margin-right: 30%;
}


.title {
	padding-top: 300px;
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align:center;
}


hr {
  border:none;
  border-top:1px dotted #000;
  color:#000;
  height:1px;
  width:30%;
}

.subtitle {
	padding-bottom: 10px;
	font-weight: 400;
	text-align:left;
	margin-left:186px;
}

@media (max-width:1199px)  {
	.subtitle {
		text-align:center;
		display:inline-block;
		margin-left:30%;
		margin-right:30%;
	}
}

.icons {
	text-align:center;
	font-size: 18px; 
	letter-spacing: 4px;
}

a {
	color: #3399ff;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition:.4s;
}

a:hover {color: gray;}

a:link {
    text-decoration: none;
}