body {
	font-family: 'Quicksand', sans-serif;
}

h2.header_data {
  margin:20px;
  text-align: center;
}

header {
	color:#3399ff;
	text-align:center;
	padding:5px;
	display:block;
	text-transform: uppercase;
	font-size: 20px;
}

 header a {
  color: #3399ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  text-decoration: none;
  position: relative;
}

header a:hover {color: gray;}

.subtitle {
  margin-top:10px;
  font-size:12px;
  display:block;
  text-align: center;
  color: #3399ff;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}

.wrapper{
 /* max-width:700px;*/
   column-count: 3;
    column-gap: 1em;
-webkit-column-break-inside:avoid;
}


#nav {
  padding: 10px 0;
  width:700px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  display:block;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 10px -12px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
   box-shadow: 0 8px 6px -6px #999;
}

#nav li {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
  

}
#nav li a {
  text-decoration:none;
  padding-bottom: 4px;
}

#nav li:hover {
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;

}

#nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3399ff;
  transition: 0.4s;
}

#nav a:hover:after{
  width: 100%;
}


 a {
	color: gray;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition:.4s;

	text-decoration: none;
	position: relative;
}

a:hover {color: #3399ff;}

section a {
  color: #3399ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  text-decoration: none;
  position: relative;
}

section a:hover {color: gray;}

section a:after {
	border-bottom: none;
}

a:link {
    text-decoration: none;
}

aside {
	padding:20px;
  margin-top: 10px;
	height:400px;
	width:200px;
}

.other {
  font-size:12px;
  text-align:left;
}

.little_title {
  text-align:center;
}

.other a {
  color: #3399ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  text-decoration: none;
  position: relative;
}

.other a:hover {color: gray;}

.other a:after {
  border-bottom: none;
}

section {
	width:400px;
	padding-top:0px;
}

section#about_me {
  margin-top:10px;
  border-left: 1px dotted #3399ff;
  text-align: center;
  padding-left: 20px;

}

#about_me h2 {
  text-align: center;
}

aside, section {
  display:inline-block;
  vertical-align: top;
  word-wrap: break-word;
}

b {
  text-decoration: underline;
}

.social {
  padding-top: 8px;
  border-bottom: none;
  text-align: center;
}

.i:hover{
  opacity:.5;
  border-bottom: none;
}

.social a:after {
  border-bottom: none;
}


.content {
	margin-top: 10px;
}

iframe {
  margin: 10px;
}

.video_wrapper {
  display: inline-block;
  vertical-align: top;
}

.wrapper{
 /* max-width:700px;*/
   column-count: 3;
    column-gap: 1em;
-webkit-column-break-inside:avoid;
}


div.card {
  position:relative;
  width: 240px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border: 1px solid #3399ff;
  text-align: center;
  margin:10px;
  border-radius: 15px;
   filter: gray; 
  filter: grayscale(1); 
  -webkit-filter: grayscale(1); 
display:inline-block;-webkit-column-break-inside:avoid;
 
}

div.card h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wrapper{
 /* max-width:700px;*/
   column-count: 3;
    column-gap: 1em;
-webkit-column-break-inside:avoid;
}

div.card:hover {
   filter: none;
  -webkit-filter: grayscale(0);

}

div.header1 {
    background-color: #4CAF50;
    padding: 10px;
    color:white;
    font-size: 20px;
    background: url(../images/Quad.jpg) no-repeat;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

div.header2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 20px;
    background: url(../images/Mochi.jpg) no-repeat;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;
}

div.header3 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 20px;
    background: url(../images/codex_card.jpg) no-repeat;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position:relative;
}

div.header4 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 20px;
    background: url(../images/NYF.jpg) no-repeat;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position:relative;
}


div.container {
    font-size:12px;
    padding: 5px;
}


div.container li {
  margin:5px;
  margin-bottom: 10px;

}

div.container li a {
  text-decoration:none;
  padding-bottom: 4px;
}

div.container li:hover {
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;

}

div.container a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3399ff;
  transition: 0.4s;
}

div.container a:hover:after{
  width: 100%;
}

.murakami {
  margin:10px;
  border: 1px solid #e6e6e6;
}

.description {
  width: 500px;
  margin: 0 auto;
}

.description a {
  color: #3399ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  text-decoration: none;
  position: relative;
}

.description a:hover {color: gray;}

.description a:after {
  border-bottom: none;
}

.murakami:hover{
  opacity:.5;
}
