body {
	font-family: 'Karla', sans-serif;
    font-size:15px;

}

nav {
  font-size:18px;
}

nav li {
  display:inline;
}


.container-fluid nav {
  display:inline;
  float:right;
}


.headline {
  display: inline;
  float:left;
  margin-top:0px;

}

.headline:hover {
  background: gradient(#cc66ff, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 a {
  color:black;
}

.dot_underlined:hover {
  background: linear-gradient(#cc66ff, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.subtext {
  text-align: center;
 

  background: -webkit-linear-gradient(top, #cc66ff, #3333ff);
  background: linear-gradient(top, #cc66ff, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.bio_container {
  margin-top: 40px;
  margin-left:120px;
}


.img-circle {
  border-radius: 50%;
}

.social {
  padding-top: 8px;
  border-bottom: none;
  text-align: center;
}

p {
  padding: 0 0 0px;
}

br {
  padding: 0 0 5px;
}

.bio {
  width:580px;
}


.dot_underlined {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.dot_underlined2 {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}


.block {
  height: 15px;
  flex: 1;
  background-color: #f2f2f2;
  margin-left:5px;
}
h3 {
  display: flex;
  align-items: center;
}

.block_bottom {
  height: 80px;
  flex: 1;
  background-color: #f2f2f2;
}

.writing_content {
  margin-left:10px;
  margin-right:10px;
}


a {
  color:#6666ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

a:hover {color: #f2f2f2;}



li{
  list-style-type: none;
  margin: 0 5px;
  margin-bottom:10px;
  color: #6666ff;

}


a:hover {color: #f2f2f2;}


a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
  margin:40px;
}


.murakami {
  margin:10px;
}


.descript {
  width:300px;
}

--

#link li {
  display: inline-block;
  
  

}
#link li a {
  text-decoration:none;
  padding-bottom: 4px;
  font-size:16px;
}


#link a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #6666ff;
  transition: 0.4s;
}

#link a:hover:after{
  width: 100%;
}

#link a:hover {color: #6666ff;}


 a {
  color: #6666ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  text-decoration: none;
  position: relative;
}

a:hover {color: #f2f2f2;}

.blurb {
  width:200px;
  text-align:center;
  margin: 0 auto;
}

.data_content {
  font-size: 13px;
}

a .subtitles {
  font-size:18px;
}


.description {
  padding: 0px;
}

br .description {
  padding: 0px;
}

a .description {
  font-size:18px;
}
